<form #themeForm="ngForm" (ngSubmit)="setTheme(tt.value,color.value,scol.value)">
  <div class="form-group">
    <br>
    <div style="margin-bottom: 5px" class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <p class="text-primary" style="font-size: 12px;  text-decoration: overline;float: right;margin-left: 5px">save
          your changes</p><button style="float: right" type="submit" class="btn btn-primary"><i
            class="fas fa-save"></i>&nbsp; Save</button>
      </div>

    </div>

    <!-- Success message -->
    <div class="alert alert-success" *ngIf="showSucessMessage">
      Saved successfully
    </div>

    <!-- Error message -->
    <div class="alert alert-danger" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>

    <hr>

    <div class="container">
      <h1>Select A Template</h1>
      <div class="row">

        <div class="col-sm">

          <!-- mobile -->

          <div class="card my-4">
            <h5 class="card-header">
              <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" id="customSwitch1" value="theme1"
                  [(ngModel)]="this.userService.theTheme.theme" name="tt" #tt="ngModel" (change)="onItemChange($event)">
                <label class="custom-control-label" for="customSwitch1"> Theme 1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
              </div>
            </h5>

          

            <img class="d-block w-100" src="../../../../../assets/img/themes_imgs/theme1.png"> 







          </div>
          <!-- mobile end -->

        </div>
        <div class="col-sm">
          <!-- mobile -->

          <div class="card my-4">
            <h5 class="card-header">
              <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" id="customSwitch2" value="theme2"
                  [(ngModel)]="this.userService.theTheme.theme" name="tt" #tt="ngModel" (change)="onItemChange($event)">
                <label class="custom-control-label" for="customSwitch2"> Theme 2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
              </div>
            </h5>
          






            <img class="d-block w-100" src="../../../../../assets/img/themes_imgs/theme2.png"> 





          </div>


          <!-- mobile end -->
        </div>
        <div class="col-sm">
          <!-- mobile -->

          <div class="card my-4">
            <h5 class="card-header">
              <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" id="customSwitch3" value="theme3"
                  [(ngModel)]="this.userService.theTheme.theme" name="tt" #tt="ngModel" (change)="onItemChange($event)">
                <label class="custom-control-label" for="customSwitch3"> Theme 3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
              </div>
            </h5>
          
            



            <img class="d-block w-100" src="../../../../../assets/img/themes_imgs/theme3.png"> 






          </div>


          <!-- mobile end -->
        </div>
      </div>
    </div>

  </div>














  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h1>Change Your App Colour</h1>
      <br><br><br><br>
      <div style="width: 350px" class="form-group">
        <label class="control-label">Statusbar Colour</label>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-palette"></i></span>
            </div>
            <input type="text" #scol="ngModel" name="scol" [(ngModel)]="this.userService.theTheme.statusbarcolor"
              class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
              <input [(colorPicker)]="this.userService.theTheme.statusbarcolor"
                [style.background]="this.userService.theTheme.statusbarcolor" />
            </div>
          </div>
        </div>
      </div>

      <br>
      <div style="width: 350px" class="form-group">
        <label class="control-label">App colour</label>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-palette"></i></span>
            </div>
            <input type="text" #color="ngModel" name="color" [(ngModel)]="this.userService.theTheme.color"
              class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
              <input [(colorPicker)]="this.userService.theTheme.color"
                [style.background]="this.userService.theTheme.color" />
            </div>
          </div>
        </div>
      </div>





    </div>

    <div class="col-sm-4">

      <br>
      <h5>example preview</h5>

      <!-- Side Widget -->
      <div class="card my-4">
        <div style="height: 10px" class="card-header"
          [ngStyle]="{'background-color':this.userService.theTheme.statusbarcolor }"><i
            style="margin-top:-20px;color:aliceblue" class="fas fa-signal fa-xs"></i><i
            style="margin-top:-5px;float:right;margin-left:5px;color:aliceblue"
            class="fas fa-battery-three-quarters"></i> <i style="margin-top:-5px;float:right;color:aliceblue"
            class="fas fa-wifi"></i> </div>
        <h5 style="color:aliceblue" [ngStyle]="{'background-color':this.userService.theTheme.color }"
          class="card-header"><i style="color:aliceblue" class="fas fa-bars"></i> &nbsp; Mobile <i
            style="float:right; color:aliceblue" class="fas fa-shopping-cart"></i></h5>

        <!-- slder -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
           
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://d1qktrytbkfjsu.cloudfront.net/image/opencart/opencart_banner.jpg"
                alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>Title 1</h5>
                <p>description</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://d1qktrytbkfjsu.cloudfront.net/image/prestashop/prestashop_banner.jpg"
                alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>Title 2</h5>
                <p>description</p>
              </div>
            </div>
       
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- slider end -->


        <br><br><br><br><br><br><br><br><br><br><br><br><br>

      </div>

    </div>


  </div>

</form>